// Base Colors

$background: #fafcfb;
$hover: #444349;
$text: #23292C;
$text-alt: #444349;
$link: #497C82;

// State Colors

$muted: #cfd1ce;

$success-light: #a1c297;
$success: #779E6B;
$success-dark: #516b49;

$info-light: #6b8798;
$info: #476a7f;
$info-dark: #304C5D;

$warning-light: #edd59e;
$warning: #e1b44c;
$warning-dark: #b88d28;

$danger-light: #e27a66;
$danger: #be381f;
$danger-dark: #892e1c;

$active-light: #b8d2d6;
$active: #396b83;
$active-dark: #244e62;

// Navigation

$nav-bg: #497C82;
$nav-text: #e9f2f3;
$nav-hover:#44a6b2;
$subnav-bg: rgba(73, 124, 130,.3);
$sidenav-bg: rgba(35,41,44,.95);

// Buttons!

$button: #497C82;
$button-hover: #44a6b2;
$button-dark: #0f5a63;
$button-dark-hover: #0d7e8b;
$button-text-light: #fafcfb;
$button-text-dark: #444349;

$action: #9add90;
$action-hover: #b2ddac;
$action-dark: #508358;
$action-dark-hover:#516b49;

$button-lt-bg: #fafcfb;
$button-lt-dark: #cfd1ce;
$button-lt-hover:#9add90;
$button-lt-dark-hover: #508358;

$danger: #e41f35;
$danger-hover: #9c2143;
$danger-dark: #9c2143;
$danger-dark-hover: #64172e;
